<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AddFlight</servlet-name>
        <servlet-class>air.AddFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>air.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>air.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customersignup</servlet-name>
        <servlet-class>air.customersignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSignup</servlet-name>
        <servlet-class>air.CustomerSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>air.CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFlight</servlet-name>
        <servlet-class>air.SearchFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightBooking</servlet-name>
        <servlet-class>air.FlightBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerlogout</servlet-name>
        <servlet-class>air.customerlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutCustomer</servlet-name>
        <servlet-class>air.LogoutCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTickets</servlet-name>
        <servlet-class>air.MyTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CencelTicket</servlet-name>
        <servlet-class>air.CencelTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelTicket</servlet-name>
        <servlet-class>air.CancelTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFlight</servlet-name>
        <url-pattern>/AddFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customersignup</servlet-name>
        <url-pattern>/customersignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSignup</servlet-name>
        <url-pattern>/CustomerSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlight</servlet-name>
        <url-pattern>/SearchFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightBooking</servlet-name>
        <url-pattern>/FlightBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerlogout</servlet-name>
        <url-pattern>/customerlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutCustomer</servlet-name>
        <url-pattern>/LogoutCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTickets</servlet-name>
        <url-pattern>/MyTickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CencelTicket</servlet-name>
        <url-pattern>/CencelTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelTicket</servlet-name>
        <url-pattern>/CancelTicket</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
